<!-- <div class="conference-alert">
        <center><h2>Conferences</h2></center>
        <center>I will be attending Society for Neuroscience (SfN) 2022 in San Diego from November 11th to 16th.</center>
        <center>Please reach out if you're interested in connecting.</center>
        <br>
        <center>If you'd like to see what I've been up to, come and see my presentation:</center>
        <center><a href="https://www.abstractsonline.com/pp8/?utm_campaign=Neuroscience%20Nexus&utm_medium=email&_hsmi=228718935&_hsenc=p2ANqtz--xlgU-X3Dpj3nRPZIJGEAjCb5En04SUIsGTNcDSoVZmac8oW5sdignWJ733o4YaLM6V0FZCmjH_ARqUrfUCiUiajLB5qxqtepFuWdNaG7Ykn0E7ZM&utm_content=228721472&utm_source=hs_email#!/10619/presentation/83174" target="_blank">Primate-like perceptual decision making through deep recurrent reinforcement learning</a></center>
        <br>
</div> -->
