<header class="site-header">

    <div class="wrapper">

        <div class="profile-card">
            <div class="profile-image-container">
                <a href="/index.html">
                <img class="profile-image" src="/assets/images/sN_DhK5H_400x400.jpg" alt="Nathan Wispinski" class="profile-image" width="50%">
                </a>
            </div>
            <div class="profile-desc">
              <div class="profile-desc-name">
                <a href="/index.html"><h1>Nathan Wispinski</h1></a>
              </div>
              <div class="profile-desc-text">
                  <p>

                    I'm a Senior Research Scientist at <a href="https://www.keelinglabs.com/" target="_blank">Keeling Labs</a>, using machine learning to transform how large batteries in the grid buy and sell energy.
                    I completed my PhD at the University of Alberta, and was previously a Research Scientist Intern at <a href="https://deepmind.com/" target="_blank">Google DeepMind</a>.
                  </p>
              </div>
            </div>
            <div class="profile-contacts">
              <a class="profile-contacts-item" href="mailto:nathanjwispinski@gmail.com">
                <i class="fa fa-fw fa-envelope"></i>
                Email
              </a><br>
              <a class="profile-contacts-item" href="https://github.com/nathanwispinski">
                <i class="fa fa-fw fa-github"></i>
                GitHub
              </a><br>
              <!-- <a class="profile-contacts-item" href="https://twitter.com/nathanwispinski">
                <i class="fa fa-fw fa-twitter"></i>
                Twitter
              </a><br> -->
              <!-- <a class="profile-contacts-item" href="https://sigmoid.social/@nathanwispinski">
                <i class="fa fa-fw fa-comments-o"></i>
                Mastodon
              </a><br> -->
              <a class="profile-contacts-item" href="https://www.linkedin.com/in/nathanwispinski/">
                <i class="fa fa-fw fa-linkedin-square"></i>
                LinkedIn
              </a><br>
              <a class="profile-contacts-item" href="https://scholar.google.ca/citations?user=1BoK43cAAAAJ">
                <i class="ai fa-fw ai-google-scholar-square"></i>
                Google Scholar
              </a><br>
              <!-- <a class="profile-contacts-item" href="/assets/nathan-wispinski-cv.pdf">
                <i class="fa fa-fw fa-file"></i>
                CV
              </a> -->
            </div>
        </div>
  </header>
